# How can I use indicators?

In [1]:
import alpaca_trade_api as tradeapi

In [3]:
api_key = '<insert api key>'
api_secret = '<insert secret>'
base_url = 'https://paper-api.alpaca.markets'

api = tradeapi.REST(api_key, api_secret, base_url, api_version='v2')

Make an API call to get some data to calculate indicators on

In [6]:
barset = api.get_barset('MSFT', 'day')
MSFT = barset['MSFT']

A Pandas DataFrame is automatically created by the library. It can be seen by accessing the **df** attribute

In [7]:
MSFT.df

                             open     high       low   close    volume
time
2020-08-26 00:00:00-04:00  217.88  222.090  217.3600  221.15  32650657
2020-08-27 00:00:00-04:00  222.89  231.150  219.4000  226.57  53612489
2020-08-28 00:00:00-04:00  228.18  230.644  226.5800  228.94  22493921
2020-08-31 00:00:00-04:00  227.00  228.700  224.3100  225.06  22743408
2020-09-01 00:00:00-04:00  225.51  227.450  224.4300  227.32  21619677
...                           ...      ...       ...     ...       ...
2021-01-12 00:00:00-05:00  216.50  217.100  213.3202  214.93  20628633
2021-01-13 00:00:00-05:00  214.02  216.760  213.9266  216.41  16242982
2021-01-14 00:00:00-05:00  215.91  217.460  212.7400  213.02  22710694
2021-01-15 00:00:00-05:00  213.52  214.510  212.0300  212.58  24935913
2021-01-19 00:00:00-05:00  213.75  214.920  213.0528  214.42   4194274

[100 rows x 5 columns]

Pandas has several functions that can help calculate moving averages. Here is an example of a 20-period Simple Moving Average (SMA)

In [5]:
MSFT.df.close.rolling(20).mean()

time
2020-08-11 00:00:00-04:00          NaN
2020-08-12 00:00:00-04:00          NaN
2020-08-13 00:00:00-04:00          NaN
2020-08-14 00:00:00-04:00          NaN
2020-08-17 00:00:00-04:00          NaN
                               ...
2020-12-24 00:00:00-05:00    216.53575
2020-12-28 00:00:00-05:00    217.01925
2020-12-29 00:00:00-05:00    217.52175
2020-12-30 00:00:00-05:00    217.79525
2020-12-31 00:00:00-05:00    218.14275
Name: close, Length: 100, dtype: float64

We can access just the last value as follows

In [6]:
MSFT.df.close.rolling(20).mean()[-1]

218.14274999999998

# Calculating a moving average manually

In [9]:
bars = MSFT[-20:]

In [8]:
list_of_closing_prices = [bar.c for bar in bars] # bar.c pulls the closing prices

In [9]:
sma20 = sum(list_of_closing_prices) / len(bars)

In [10]:
sma20

218.14275000000004

# Calculating an indicator with a library (bta-lib)

https://btalib.backtrader.com/indalpha/

In [10]:
MSFT.df

                             open     high       low   close    volume
time
2020-08-26 00:00:00-04:00  217.88  222.090  217.3600  221.15  32650657
2020-08-27 00:00:00-04:00  222.89  231.150  219.4000  226.57  53612489
2020-08-28 00:00:00-04:00  228.18  230.644  226.5800  228.94  22493921
2020-08-31 00:00:00-04:00  227.00  228.700  224.3100  225.06  22743408
2020-09-01 00:00:00-04:00  225.51  227.450  224.4300  227.32  21619677
...                           ...      ...       ...     ...       ...
2021-01-12 00:00:00-05:00  216.50  217.100  213.3202  214.93  20628633
2021-01-13 00:00:00-05:00  214.02  216.760  213.9266  216.41  16242982
2021-01-14 00:00:00-05:00  215.91  217.460  212.7400  213.02  22710694
2021-01-15 00:00:00-05:00  213.52  214.510  212.0300  212.58  24935913
2021-01-19 00:00:00-05:00  213.75  214.920  213.0528  214.42   4194274

[100 rows x 5 columns]

In [13]:
import btalib

In [16]:
sma20 = btalib.sma(MSFT.df, period=20) # Uses close prices by default
sma20.df

                                sma
time
2020-08-26 00:00:00-04:00       NaN
2020-08-27 00:00:00-04:00       NaN
2020-08-28 00:00:00-04:00       NaN
2020-08-31 00:00:00-04:00       NaN
2020-09-01 00:00:00-04:00       NaN
...                             ...
2021-01-12 00:00:00-05:00  219.3495
2021-01-13 00:00:00-05:00  219.4605
2021-01-14 00:00:00-05:00  219.4035
2021-01-15 00:00:00-05:00  219.0730
2021-01-19 00:00:00-05:00  218.8230

[100 rows x 1 columns]

In [17]:
sma20_high_price = btalib.sma(MSFT.df.high, period=20) # Uses high price by default
sma20_high_price.df

                                 sma
time
2020-08-26 00:00:00-04:00        NaN
2020-08-27 00:00:00-04:00        NaN
2020-08-28 00:00:00-04:00        NaN
2020-08-31 00:00:00-04:00        NaN
2020-09-01 00:00:00-04:00        NaN
...                              ...
2021-01-12 00:00:00-05:00  221.24494
2021-01-13 00:00:00-05:00  221.27244
2021-01-14 00:00:00-05:00  221.37444
2021-01-15 00:00:00-05:00  221.09444
2021-01-19 00:00:00-05:00  220.79594

[100 rows x 1 columns]

In [14]:
sma20.df.iloc[-1]

sma    218.14275
Name: 2020-12-31 00:00:00-05:00, dtype: float64

Calculating RSI using a library

In [15]:
rsi14 = btalib.rsi(MSFT.df)

In [16]:
rsi14.df

                                 rsi
time
2020-08-11 00:00:00-04:00        NaN
2020-08-12 00:00:00-04:00        NaN
2020-08-13 00:00:00-04:00        NaN
2020-08-14 00:00:00-04:00        NaN
2020-08-17 00:00:00-04:00        NaN
...                              ...
2020-12-24 00:00:00-05:00  61.050918
2020-12-28 00:00:00-05:00  64.019389
2020-12-29 00:00:00-05:00  62.492043
2020-12-30 00:00:00-05:00  56.806474
2020-12-31 00:00:00-05:00  57.897048

[100 rows x 1 columns]